@charset "utf-8";
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
.section-wrapper {
  padding: 100px 10% 150px;
}

.section-title {
  text-align: center;
  font-size: 3.6rem;
  letter-spacing: 0.05em;
  margin-bottom: 70px;
  font-weight: bold;
}

/*------------------headerの記述-----------------------------------*/
.header {
  /*背景色設定*/
  background-color: #1b1310;
  /*文字色設定*/
  color: #fff;
  /*要素の並び*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*左右の余白*/
  padding: 0 120px;
  /*高さ指定*/
  height: 74px;
  /*下線*/
  border-bottom: 1px solid #fff;
}
.nav-list {
  display: flex;
}
.nav-item {
  margin-right: 55px;
}

.fv {
  /*画面の高さの90に指定*/
  height: 90vh;
  background-color: #1b1310;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-copy {
  font-size: 5rem;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 32px 42px;
}

/*base-----------*/
.text-wrapper_service,
.img-wrapper_service {
  max-width: 480px;
}
.content-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.reverse {
  margin-top: 50px;
  flex-direction: row-reverse;
}
.service-title {
  font-size: 24px;
}
/*Newsの記述------------------------------------------------*/
.card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-item {
  max-width: 320px;
  box-shadow: 0px 0px 6px rgb(27, 16, 19, 0.4);
  margin-right: 10px;
}

.text_news {
  color: #141414;
  padding: 25px 32px;
  font-size: 13px;
}
/*formの記述---------------------------------------------------*/
.form {
  max-width: 700px;
  margin: 0 auto;
}
.form-part {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
input,
textarea {
  border: 1px solid #141414;
  padding: 10px;
}
label {
  font-size: 16px;
  color: #141414;
  margin-bottom: 5px;
}

#input-subject,
textarea {
  line-height: 2;
  font-size: 16px;
}

textarea {
  resize: none;
  height: 171px;
}

.form-send {
  text-align: center;
  margin-top: 50px;
}
.form-btn {
  display: inline-block;
  width: 235px;
  /*   code penだと挙動が変わるため変更しています */
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #1b1310;
  box-shadow: 0px 0px 6px #1b1310;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .section-wrapper {
    padding: 100px 5% 50px;
  }
  /* headerの記述----------------------------*/
  .header {
    padding: 0 5%;
  }
  .nav-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .main-copy {
    font-size: 3rem;
  }
  /*service-------------------*/
  .content-inner {
    flex-direction: column;
    margin: 50px auto;
  }

  .img-wrapper_service {
    margin-top: 40px;
  }
  .img-wrapper_service img {
    height: 150px;
    object-fit: cover;
  }

  /*-------------Newsの記述-----------------------*/
  .card-list {
    flex-direction: column;
  }
  .card-item {
    margin: 50px 0 0;
  }
}
